{# <nav>
    <ul>
        <li><a href="https://localhost/lucky">Lucky</a></li>
        <li><a href="https://localhost/about">About</a></li>
        <li><a href="https://localhost/article">Article</a></li>
    </ul>
</nav> #}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Authentification
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						Welcome,
						{{ app.user.email }}
						<a class="dropdown-item" href="https://localhost/profil">Mon profil</a>
						<a class="dropdown-item" href="https://localhost/logout">Se déconnecter</a>
					{% else %}
						<a class="dropdown-item" href="https://localhost/register">S'enregistrer</a>
						<a class="dropdown-item" href="https://localhost/login">Se connecter</a>
					{% endif %}
				</div>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://localhost/lucky">Lucky</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://localhost/about">About</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://localhost/article">Article</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Article
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="https://localhost/article/new">NewArt</a>
					<a class="dropdown-item" href="https://localhost/article/generate">Generate</a>
					<a class="dropdown-item" href="https://localhost/article/list">List</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Admin
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="https://localhost/admin/users/list">List</a>
				</div>
			</li>
		</ul>
	</div>
</nav>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
