{% extends 'home.html.twig' %}

{% block title %}Erreur interne du serveur{% endblock %}

{% block body %}
    <h1>500 - Erreur interne du serveur</h1>
    <p>Une erreur est survenue. Veuillez réessayer plus tard.</p>
{% endblock %}